:root {
  --clr-yellowBase: #ffd2da;
  --clr-yellowLight: #ffecef;
  --clr-yellowDark: #e5acb6;

  --clr-blueBase: #99a5db;
  --clr-blueLight: rgba(153, 165, 219, 0.35);
  --clr-blueDark: #8893c3;

  --clr-redBase: #f7867e;
  --clr-redLight: rgba(249, 164, 158, 0.35);
  --clr-redDark: #dd5d54;

  --clr-greenBase: #9dc98a;
  --clr-greenLight: rgba(179, 213, 164, 0.35);
  --clr-greenDark: #84b070;

  --clr-blackBase: #323232;
  --clr-blackLight: rgba(76, 76, 76, 0.35);
  --clr-blackDark: #191919;
}

html {
  height: 90%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.principal {
  animation: fadeInAnimation ease 1.5s;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.home {
  scrollbar-width: thin;
  scrollbar-color: var(--clr-blueBase) var(--clr-blueLight);

  animation: slideInAnimation ease 1.5s;
}

.join {
  scrollbar-width: thin;
  scrollbar-color: var(--clr-redBase) var(--clr-redLight);

  animation: slideInAnimation ease 1.5s;
}

.donate {
  scrollbar-width: thin;
  scrollbar-color: var(--clr-greenBase) var(--clr-greenLight);

  animation: slideInAnimation ease 1.5s;
}

.about {
  scrollbar-width: thin;
  scrollbar-color: var(--clr-blackBase) var(--clr-blackLight);

  animation: slideInAnimation ease 1.5s;
}

@keyframes slideInAnimation {
  0% {
    transform: translate(0, -10em);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

a {
  box-sizing: content-box;
  margin-left: 3em;
  margin-top: -0.2em;
}

.logo {
  height: 5em;
}

header {
  height: 4.5em;
  padding: 0.4em;
}

.containerNavBar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.boutonNavBar {
  color: white;
  font-family: Broadway;
  font-size: 1.4em;

  padding: 10px;
  margin-right: 0.7em;
  border-radius: 20px;
  border: none;

  transition: all 1s ease;
}

.bodyPage {
  height: 100%;
}

h1 {
  font-family: Rockwell Extra Bold;
  color: white;
  -webkit-text-stroke: 3px black;
  font-size: 5em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

h2 {
  font-family: Rockwell Extra Bold;
  color: white;
  margin: 0;
  text-align: center;
}

.container {
  display: flex;
  padding: 1.5em;
  border-radius: 30px;
}

.button {
  color: white;
  font-family: Rockwell Extra Bold;
  font-size: 1em;

  width: 10em;
  height: 5em;
  border-radius: 30px;

  transition: all 1.5s ease;
}

a {
  margin: 0;
}

p {
  font-family: "Courier";
  text-justify: inter-word;
  color: white;
  font-size: 1.5em;
}

footer {
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
  padding: 0.3em;
}

.miniLogo {
  width: 2em;
  margin-left: 0.4em;
  margin-right: 0.4em;
}

.blueBG {
  background-color: var(--clr-blueBase);
}

/*--------------------- Home page ---------------------*/
.home {
  height: 100%;
  background-color: var(--clr-blueLight);
}

.headHomePage {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 90%;
  padding: 2.5em;
  background-image: url('img/bg.jpg');
  background-size: 100% 100%;
}

.headContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 10%;
}

.headText {
  font-family: Rockwell Extra Bold;
  font-size: 2em;
  font-weight: bold;

  margin-bottom: 0.5em;
  padding: 0.7em;
}

.flecheButton {
  height: 65px;
  width: 65px;
  border-radius: 50%;
  padding: 10px;
}

.flecheImg {
  margin: auto auto auto auto;
  height: 70%;
  width: 70%;
}

.chart {
  display: flex;
  justify-content: space-evenly;
}

.homeContainer {
  display: block;
  margin: 1em;
}

.optionContainer {
  display: flex;
  justify-content: space-around;
  justify-items: center;
}

.optionButton {
  margin: 1em;
  padding: 1.5em;
}

.optionButton:hover {
  box-shadow: inset 10em -10em var(--clr-blueDark);
}

.optionButton:focus {
  animation: effect 0.5s ease-out;
}

@keyframes effect {
  50% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
  99% {
    transform: scale(0.001, 0.001);
    opacity: 0;
  }
  100% {
    transform: scale(0.001, 0.001);
    opacity: 1;
  }
}

.biContainer {
  width: 30%;
  margin: 1em;
  padding: 0 1.5em 0 1.5em;
}

.biContainer > p {
  margin-right: auto;
  margin-left: auto;
}

footer > p {
  margin: 0;
}

/*--------------------- Page de join ---------------------*/
.joinHeader {
  background-color: var(--clr-redBase);
}

.joinBoutonNavBar {
  background-color: var(--clr-redLight);
}

.joinBoutonNavBar:hover {
  box-shadow: inset 0 -5em var(--clr-redDark);
}

.joinPage {
  background-color: var(--clr-redLight);
}

.joinContainer {
  grid-template-columns: repeat(2, 1fr);

  background-color: var(--clr-redBase);
}

.joinFooterPage {
  background-color: var(--clr-redBase);
}

/*--------------------- Page de donate ---------------------*/
.donateHeader {
  background-color: var(--clr-greenBase);
}

.donateBoutonNavBar {
  background-color: var(--clr-greenLight);
}

.donateBoutonNavBar:hover {
  box-shadow: inset 0 -5em var(--clr-greenDark);
}

.donatePage {
  background-color: var(--clr-greenLight);
}

.donateContainer {
  grid-template-columns: repeat(2, 1fr);

  background-color: var(--clr-greenBase);
}

.donateFooterPage {
  background-color: var(--clr-greenBase);
}

/*--------------------- Page de about ---------------------*/
.aboutHeader {
  background-color: var(--clr-blackBase);
}

.aboutBoutonNavBar {
  background-color: var(--clr-blackLight);
}

.aboutBoutonNavBar:hover {
  box-shadow: inset 0 -5em var(--clr-blackDark);
}

.aboutPage {
  background-color: var(--clr-blackLight);
}

.aboutContainer {
  grid-template-columns: repeat(2, 1fr);

  background-color: var(--clr-blackBase);
}

.aboutFooterPage {
  background-color: var(--clr-blackBase);
}